[core]
    pager = delta

[diff]
    tool = meld

[difftool "meld"]
    cmd = meld "$LOCAL" "$REMOTE"

[merge]
    tool = meld
    conflictstyle = zdiff3

[mergetool "meld"]
    cmd = meld "$LOCAL" "$BASE" "$REMOTE" --output="$MERGED"

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true
    side-by-side = true
    line-numbers = true
    light = false
    syntax-theme = Dracula
